@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto";
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgba(254, 222, 194, 0.31),
      rgba(220, 70, 250, 0.883)
    ),
    url("https://food.fnr.sndimg.com/content/dam/images/food/fullset/2021/03/10/quesalupa_taco_bell_2_s4x3.jpg.rend.hgtvcom.616.462.suffix/1615426886013.jpeg");
  margin: 0px;
  padding: 0px;
  /* Fit the image in the size of the view port */
  background-size: cover;
  /* top of the photo still in frame when window is resized */
  background-position: top;
}

nav {
  background-color: #ff5a33;
}

main {
  padding: 16px;
  margin-bottom: 50px;
}

footer {
  padding: 24px 0px;
  position: fixed;
  width: 100%;
  bottom: 0%;
  background-color: #b4cf66;
}

img {
  height: 200px;
}

nav {
  border-bottom: 1px solid;
  padding: 16px;
}

#home-page-link {
  color: white;
}

.food-item a {
  color: #44803f;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #b4cf66;
}

.footer-msg {
  margin-left: 50px;
}

tr:nth-child(even) {
  background-color: lightgray;
}

.food-item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* column-gap: px; */
}

.food-item img {
  transition: all 0.5s;
}

/* Works by changing img-link to inline-block,
which allows for vertical positioning*/
/* .img-link {
  display: inline-block;
  margin-bottom: 10px;
} */

/* Doesn't work because .img-link class is part of an inline element.
Doesn't apply to the img cause the img is a content value of the anchor tag */
/* .img-link {
  margin-bottom: 50px;
} */

a.img-link img {
  margin-bottom: 20px;
}

.food-item img:hover {
  transform: scale(1.1);
}

/* Img is inline element,
but also a replaced element meaning its appearance is manipulated by external resources */
